* {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #222325;
}

.navegador-rapido {
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: right;
    gap: 0.2rem;
    height: auto;
}

.navegador-rapido a {
    padding: 15px;
    text-decoration: none;
    color: rgb(224, 219, 219);
}

a:hover {
    color: rgb(204, 20, 7);
    font-size: 16px;
}

#titulo-principal {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 30px 20px;
    background-color: rgb(221, 92, 6);
    justify-content: center;
}

.hero {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 238, 238);
}

#texto-about {
    padding: 20px;
    text-align: center;
    color: rgb(223, 221, 224);
}